# Java + Gradle project git ignore

.DS_Store
.idea
*.iml
*.ipr
*.iws
*.bak
*.swp
*.swo
*.log
*.class
*.war
*.ear
*.jar
*.zip
*.tar.gz

# Gradle files
.gradle
build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Eclipse
.classpath
.project
.settings/


